.shopify-policy__container {
	padding-top: 56px;
	padding-bottom: 56px;
	max-width: 930px;
	margin: 0 auto;

	.shopify-policy__title h1 {
		padding-bottom: 24px;
		/* Heading2 */
		font-family: "Minion Pro Cond Capt";
		// font-style: italic;
		font-weight: 700;
		font-size: 36px;
		line-height: 36px;
		/* identical to box height, or 100% */
		/* Primary/Red1 */
		color: #c61d23;
	}

	.shopify-policy__body {
		padding-top: 24px;

		h1 ,
		h2 ,
		h3 ,
		h4 ,
		h5 ,
		h6 {
			font-family: "Instrument Sans", sans-serif;
			font-style: normal;
			font-weight: 400;
			color: var(--color-red3);
			margin: 0 0 20px;
		}
		/* Specific typography sizes per heading */
		h1 {
			font-size: 32px;
			line-height: 40px;
		}

		h2 {
			font-size: 28px;
			line-height: 36px;
		}

		h3 {
			font-size: 24px;
			line-height: 32px;
		}

		h4 {
			font-size: 20px;
			line-height: 28px;
		}

		h5 {
			font-size: 18px;
			line-height: 24px;
		}

		h6 {
			font-size: 16px;
			line-height: 20px;
		}

		p ,
		span ,
		li ,
		a ,
		div {
			/* Body1 */
			font-family: var(--font-header);
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			/* Primary/Red3 */
			color: var(--color-red3);
		}
		li ,
		ul ,
		ol ,
		p:not(:last-child) {
			margin: 0 0 16px;
		}
		strong {
			font-weight: bold;
			display: block;
		}
		p br {
			display: none;
		}
	}
}