.template-customers\/login.account {
	.page-customer-register ,
	.page-customer-login {
		max-width: 448px;
		margin-left: auto;
		margin-right: auto;
		padding-right: 24px;
		padding-left: 24px;
		padding-top: 48px;
		padding-bottom: 48px;

		@media (min-width: 768px) {
			padding-right: 32px;
			padding-left: 32px;
		}

		@media (min-width: 1024px) {
			padding-right: 48px;
			padding-left: 48px;
		}

		.heading--1 {
			/* Desktop_H2 */
			font-family: "Neilvard One";
			font-size: 32px;
			font-weight: 400;
			font-style: normal;
			line-height: 36px;
			padding-bottom: 24px;
			text-align: left;
			/* Neutral/Black2 */
			color: #161a1d;
			@media (min-width: 768px) {
				text-align: center;
			}
		}

		form {
			label {
				font-size: 14px;
				display: block;
				padding-bottom: 8px;

				&.accepts-marketing-label {
					margin-bottom: 0;
					cursor: pointer;
					padding-bottom: 0;
					line-height: normal;
				}
			}

			a {
				&::after {
					content: "";
					display: block;
					width: 100%;
					height: 1px;
					// background-color: #f6ca30;
				}
			}

			.field {
				padding-bottom: 12px;
			}

			input[type="text"] ,
			input[type="password"] ,
			input[type="email"] ,
			input[type="date"] {
				-webkit-appearance: none;
				        appearance: none;
				border: 1px solid #d3d3d3;
				padding: 12px 32px 12px 12px;
				border-radius: 6px;
				margin: 0 auto;
				font-style: normal;
				font-weight: 400;
				font-size: 12px;
				line-height: 15px;
				color: var(--color-red3);
				width: 100%;
				&::placeholder ,
				&:invalid::-webkit-datetime-edit {
					color: #999999;
					/* Chrome, Firefox, Opera, Safari 10.1+ */
					color: #999999;
					opacity: 1;
					/* Firefox */
				}

				&:-ms-input-placeholder {
					/* Internet Explorer 10-11 */
					color: #999999;
				}

				&::-ms-input-placeholder {
					/* Microsoft Edge */
					color: #999999;
				}
			}

			input[type="radio"] ,
			input[type="checkbox"] {
				cursor: pointer;
				-webkit-appearance: initial;
				vertical-align: baseline;
				padding: 0;
				margin: 0;
				min-height: initial;
				border: 1px solid #f6ca30;
				background: transparent;
				display: inline-block;
				border-radius: 24px;
				width: 24px;
				height: 24px;
				margin-right: 8px;

				&:checked {
					transform: scale(0.9);
					outline: 2px solid #f6ca30;
					border: 2px solid #f6ca30;
					background: #f6ca30;
				}
			}

			.accepts-marketing {
				display: flex;
				cursor: pointer;
			}

			.button ,
			button[type="submit"] ,
			input[type="submit"] {
				display: block;
				padding: 12px 16px;
				background: #f6ca30;
				color: #000000;
				border-radius: 6px;
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 17px;
				text-align: center;
				width: 100%;
				margin-bottom: 8px;
			}

			input[aria-invalid="true"] {
				border: 1px solid #f6ca30;
			}
		}

		.form__message {
			svg {
				margin-right: 8px;
				width: 24px;
				height: 24px;
			}

			display: flex;
			margin-bottom: 20px;
		}
	}

	.page-customer-register {
		.input-by-two {
			display: grid;
			gap: 16px;
			grid-template-columns: 1fr 1fr;
		}
	}

	#recover ,
	#recover + div {
		display: none;
	}

	#recover:target {
		display: block;
	}

	#recover:target + div {
		display: block;
	}

	#recover:target ~ #login ,
	#recover:target ~ #login + div {
		display: none;
	}

	#recover {
		margin-bottom: 0;
	}

	.forgetPasswordText {
		margin-bottom: 4px;
	}
}