.template-collection {
	main {
		// margin-top: -156px;
		margin-bottom: 80px;
	}

	.collection-image img ,
	picture {
		height: 630px;
		object-position: center;
		object-fit: cover;
		width: 100%;
		@media(min-width: 768px) {
			height: 520px;
		}
	}

	.collection-nav {
		padding: 40px 20px;
		@media (min-width: 768px) {
			padding-left: 0;
			padding-right: 0;
		}
		ul {
			display: flex;
			gap: 16px;
			justify-content: center;
			align-items: revert;
			flex-direction: column;
			@media (min-width: 768px) {
				flex-direction: row;
			}
		}
		li a {
			padding: 16px 32px;
			/* Neutral/White1 */
			background: #ffffff;
			/* Primary/yellow2 */
			border: 1px solid #f6ca30;
			border-radius: 24px;
			font-family: "DM Sans";
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 18px;
			/* identical to box height, or 129% */
			/* Neutral/Black1 */
			color: #2a2a2a;
			width: 100%;
			text-align: center;
			@media (min-width: 768px) {
				text-align: left;
			}
			&.active {
				background-color: var(--color-yellow2);
			}
		}
		li span {
			padding: 16px 32px;
			/* Neutral/White1 */
			background: #ffffff;
			/* Primary/yellow2 */
			border: 1px solid #f6ca30;
			border-radius: 24px;
			font-family: "DM Sans";
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 18px;
			/* identical to box height, or 129% */
			/* Neutral/Black1 */
			color: #2a2a2a;
			width: 100%;
			display: flex;
			align-items: center;
			border: 0;
			background-color: transparent;
			justify-content: center;
			text-align: center;
			@media (min-width: 768px) {
				text-align: left;
			}
		}
	}
}