:root {
	--color-yellow1: #fad75f;
	--color-yellow2: #f6ca30;
	--color-black1: #2a2a2a;
	--color-black2: #161a1d;
	--color-white1: #ffffff;
	--color-white2: #f6f6f6;
	--color-white3: #d3d3d3;
	--font-heading-1: "Neilvard One";
	--font-heading-2: "Neilvard One";
	--font-heading-3: "Neilvard One";
}

@media screen and (prefers-reduced-motion: reduce), (update: slow) {
	* {
		-webkit-transition-duration: 0s;
		     -o-transition-duration: 0s;
		        transition-duration: 0s;
		-webkit-animation-duration: 0s;
		        animation-duration: 0s;
		-webkit-animation-iteration-count: 1;
		        animation-iteration-count: 1;
	}
}

* ,
*::before ,
*::after {
	box-sizing: border-box;
}

html {
	font: var(--font-400);
	font-size: 14px;
	line-height: 1.5;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	scroll-behavior: smooth;
	-webkit-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: none;
	text-rendering: optimizeLegibility;
}

body {
	font: var(--font-400);
	font-size: 14px;
	line-height: normal;
	overflow-x: hidden;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	margin-right: auto;
	margin-left: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: none;
	text-rendering: optimizeLegibility;
	background-color: #f6f6f6;

	&.menunoscroll {
		overflow: hidden;
		height: 100vh;
	}
}

html ,
body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
}

main.layout__main-content {
	flex: 1;
}

#layout__main-content-wrapper {
	position: relative;
	z-index: 1;
}

.layout__grid-box {
	display: block;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 16px;
	padding-left: 16px;
	@media (min-width: 768px) {
		padding-right: 20px;
		padding-left: 20px;
	}
	@media (min-width: 1400px) {
		max-width: 1120px;
	}
	@media (min-width: 1800px) {
		max-width: 1120px;
		padding-right: 160px;
		padding-left: 160px;
	}
}

.layout__grid-fluid {
	display: block;
	width: 100%;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
}
.padding--left-0 {
	padding-left: 0;
}
.padding--right-0 {
	padding-right: 0;
}
b ,
strong {
	font-weight: 500;
}
em ,
i {
	font-style: italic;
}
a {
	cursor: pointer;
	color: inherit;
}

.overflow-hidden {
	overflow: hidden;
}

.heading--1 ,
.shopify-policy__title {
	font-family: var(--font-heading-1);
	font-size: 40px;
	font-style: normal;
	line-height: 42px;
	@media (min-width: 768px) {
		font-size: 36px;
		line-height: 40px;
	}
}

.heading--2 {
	font-family: var(--font-heading-2);
	font-size: 32px;
	font-style: normal;
	line-height: 36px;
}

.heading--3 {
	font-family: var(--font-heading-3);
	font-size: 24px;
	font-style: normal;
	line-height: 28px;
}

.heading--4 {
	font-family: var(--font-heading-4);
	font-size: 24px;
	font-style: normal;
	line-height: 28px;
}

.heading--5 {
	font-family: var(--font-heading-5);
	font-size: 24px;
	font-style: normal;
	line-height: 28px;
}

.heading--6 {
	font-family: var(--font-heading-6);
	font-size: 24px;
	font-style: normal;
	line-height: 28px;
}

.text--body-1 {
	font-family: var(--font-dm-sans);
	font-size: 16px;
	font-style: normal;
	line-height: normal;
}

.text--body-2 ,
p {
	font-family: var(--font-dm-sans);
	font-size: 14px;
	font-style: normal;
	line-height: 16px;
}

.skip-to-content {
	position: absolute;
	top: auto;
	left: -999px;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

.skip-to-content:focus {
	position: absolute;
	z-index: 1000;
	top: 10px;
	left: 10px;
	width: auto;
	height: auto;
	padding: 10px;
	color: #ffffff;
	background: #000000;
}