
body.active-desktop-menu::before {
	content: "";
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: 30;
	pointer-events: none;
}

body.active-search::before {
	content: "";
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: 30;
	pointer-events: none;
}

header {
	position: sticky;
	position: fixed;
	z-index: 50;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	will-change: transform;
	background-color: transparent;
	.header--mobile {
		background-color: #ffffff;
		padding: 20px 16px 16px;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 100vh;
		transform: translateX(-101%);
		visibility: hidden;
		will-change: trasform, height, visibility;
		transition: 0.4s all cubic-bezier(0.5, 0, 0, 1);
		.active-mobile-menu & {
			transform: translateX(0%);
			visibility: visible;
		}
		@media (min-width: 768px) {
			display: none;
		}
		.header--mobile__container {
			border-radius: 6px;
			position: relative;
			padding: 20px;
			box-shadow: 0 1px 4px #0003;
			display: flex;
			align-items: center;
			justify-content: space-between;
			background-color: #f6f6f6;
			margin-bottom: 40px;
		}
		.header__nav {
			.menu-icon {
				width: 20px;
				height: 16px;
				position: relative;
				cursor: pointer;
				.menu-icon__line {
					width: 100%;
					height: 2px;
					background-color: #000000;
					position: absolute;
					transition: transform 0.3s ease-in-out;
					&.menu-icon__line--top {
						top: 0;
						transform: translateY(6px) rotate(45deg);
					}
					&.menu-icon__line--middle {
						display: none;
						opacity: 0;
					}
					&.menu-icon__line--bottom {
						top: auto;
						bottom: 0;
						transform: translateY(-8px) rotate(-45deg);
					}
				}
			}
		}
		.header__logo {
			position: absolute;
			right: 0;
			bottom: 0;
			left: -10px;
			display: inline-block;
			height: auto;
			margin: 0 auto;
			text-align: center;
			width: 116px;
			height: 80px;
			top: -12px;
			@media (min-width: 768px) {
				top: -20px;
				width: 146px;
				height: 100px;
			}
			svg {
				width: 100%;
				height: 100%;
			}
		}

		.header__icon--cart {
			background-color: #ffffff;
			display: flex;
			align-items: center;
			padding: 12px 16px;
			border-radius: 25px;
			.header__cart-badge {
				font: var(--font-500);
				font-size: 16px;
				font-style: normal;
				line-height: 16px;
				display: inline-block;
				padding-left: 8px;
				color: #2a2a2a;
			}
		}
		.mobile-menu {
			.mobile-menu__toggle {
				width: 100%;
				padding: 16px;
				background: #f6f6f6;
				border-radius: 25px;
				margin-bottom: 8px;
				text-align: left;
				font-family: DM Sans;
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 16px;
				color: #2a2a2a;
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			.mobile-menu__submenu {
				padding: 0 16px;
				ul li a {
					display: block;
					position: relative;
					padding: 16px 0;
					border-bottom: 1px solid #f6f6f6;
					font-family: DM Sans;
					font-style: normal;
					font-weight: 400;
					font-size: 16px;
					line-height: 21px;
					color: #2a2a2a;
				}
			}
			.mobile-menu__link {
				width: 100%;
				padding: 16px;
				background: #f6f6f6;
				border-radius: 25px;
				margin-bottom: 8px;
				text-align: left;
				font-family: DM Sans;
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 16px;
				color: #2a2a2a;
			}
		}
	}
	.header--desktop {
		overflow: hidden;
		position: relative;
		z-index: 1;
		.header--desktop__container {
			border-radius: 6px;
			position: relative;
			padding: 20px;
			box-shadow: 0 1px 4px #0003;
			display: flex;
			align-items: center;
			justify-content: space-between;
			background-color: #ffffff;
			margin: 20px 16px;
			.active-search & ,
			.active-desktop-menu & {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				box-shadow: initial;
			}
			@media (min-width: 768px) {
				padding: 8px 20px;
				margin: 34px 24px 20px;
			}
			.header__nav {
				display: flex;
				align-items: center;
				gap: 4px;
				.menu-icon {
					width: 20px;
					height: 16px;
					position: relative;
					cursor: pointer;
					@media (min-width: 768px) {
						display: none;
					}
					.menu-icon__line {
						width: 100%;
						height: 2px;
						background-color: #000000;
						position: absolute;
						transition: transform 0.3s ease-in-out;
						&.menu-icon__line--top {
							top: 0;
							.menunoscroll & {
								transform: translateY(6px) rotate(45deg);
							}
						}
						&.menu-icon__line--middle {
							top: 50%;
							transform: translateY(-50%);
							.menunoscroll & {
								display: none;
								opacity: 0;
							}
						}
						&.menu-icon__line--bottom {
							top: auto;
							bottom: 0;
							.menunoscroll & {
								transform: translateY(-8px) rotate(-45deg);
							}
						}
					}
				}
				.header__nav-pill {
					padding: 12px 16px;
					border-radius: 25px;
					background: #f6f6f6;
					display: none;
					@media (min-width: 768px) {
						display: inline-flex;
						align-items: center;
						justify-content: space-between;
					}
					.header__nav-label {
						font: var(--font-600);
						font-size: 14px;
						font-style: normal;
						line-height: 16px;
						color: #2a2a2a;
					}
					.header__nav-icon {
						padding-left: 4px;
					}
					&:hover {
						background-color: #fad75f;
						.header__nav-icon--plus {
							transform: rotate(46deg);
							display: inline-block;
						}
					}
				}
				.header__link {
					font: var(--font-600);
					font-size: 14px;
					font-style: normal;
					line-height: 16px;
					padding: 12px 24px;
					color: #2a2a2a;
					border-radius: 4px;
					display: none;
					@media (min-width: 768px) {
						display: inline-block;
					}
				}
				.header__icon {
					display: inline-block;
					padding: 12px 8px;
				}
				.header__icon--search {
					display: none;
					@media (min-width: 768px) {
						display: inline-block;
					}
				}
				.header__icon--account {
					display: none;
					@media (min-width: 768px) {
						display: inline-block;
					}
				}
				.header__icon--cart {
					background-color: #f6f6f6;
					display: flex;
					align-items: center;
					padding: 12px 16px;
					border-radius: 25px;
					.header__cart-badge {
						font: var(--font-500);
						font-size: 16px;
						font-style: normal;
						line-height: 16px;
						display: inline-block;
						padding-left: 8px;
						color: #2a2a2a;
					}
				}
			}
			.header__logo {
				position: absolute;
				right: 0;
				bottom: 0;
				left: -10px;
				display: inline-block;
				height: auto;
				margin: 0 auto;
				text-align: center;
				width: 116px;
				height: 80px;
				top: -12px;
				@media (min-width: 768px) {
					top: -28px;
					width: 146px;
					height: 100px;
				}
				svg {
					width: 100%;
					height: 100%;
				}
			}
		}

		.mega__products {
			padding: 0 0 20px;
			margin: -20px 24px 20px;
			z-index: -1;
			position: relative;
			display: none;
			.active-desktop-menu & {
				@media(min-width: 768px) {
					display: flex;
				}
			}
			.mega__body {
				display: flex;
				flex-direction: column;
				flex: 0 0 25%;
				width: 25%;
				border-bottom-left-radius: 6px;
				border-bottom-right-radius: 6px;
				position: relative;
				background-color: #ffffff;
				padding: 20px 20px;
				height: 100%;
				height: 528px;
				// height: calc(100vh - 156px);
				transform: translateY(-10px);
				visibility: hidden;
				will-change: trasform, height, visibility;
				transition: 0.4s all cubic-bezier(0.5, 0, 0, 1);

				@media(min-width: 1768px) {
					height: 540px;
				}
				.active-desktop-menu & {
					transform: translateY(0px);
					visibility: visible;
				}
				ul {
					flex: 1;
					background: var(--color-white1);
					border-bottom-left-radius: 10px;
					border-bottom-right-radius: 10px;
					li a {
						padding: 8px 16px;
						display: flex;
						align-items: center;
						justify-content: space-between;
						font-family: DM Sans;
						font-style: normal;
						font-weight: 600;
						font-size: 16px;
						line-height: 24px;
						color: #2a2a2a;
						position: relative;
						display: flex;
						justify-content: space-between;
						align-items: center;
						&:after {
							content: "";
							display: flex;
							align-items: center;
							justify-content: center;
							width: 24px;
							height: 24px;
							background-repeat: no-repeat;
							background-image: url("data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"20\" height=\"20\" fill=\"none\" viewBox=\"0 0 20 20\"><path stroke=\"%232A2A2A\" stroke-linecap=\"round\" stroke-width=\"1.5\" d=\"m8 5 5.284 4.624a.5.5 0 0 1 0 .752L8 15\"/></svg>");
						}
						&:hover {
							background: #fad75f;
							border-radius: 24px;
						}
					}
				}

				.mega__cta {
					// width: calc(100% - 16px - 16px);
					margin-top: 80px;
					text-align: center;
					// margin: 0 16px;
					padding: 16px 16px;
					background: #fad75f;
					border-radius: 24px;
					font-family: DM Sans;
					font-style: normal;
					font-weight: 600;
					font-size: 14px;
					line-height: 18px;
					color: #2a2a2a;
				}
			}
			.mega__body--product {
				flex: 0 0 calc(100% - 25%);
				width: calc(100% - 25%);
				.mega__collection-block {
					display: none;
					padding: 20px;
					width: 100%;
					height: 100%;
					height: 528px;
					overflow-y: scroll;
					align-items: flex-start;
					flex: 1 0 auto;
					display: none;
					&.active {
						border-bottom-right-radius: 6px;
						background-color: #ffffff;
						display: flex;
						flex-direction: column;
					}
					@media(min-width: 1768px) {
						height: 540px;
					}
				}
				.mega__product-list {
					flex: 1;
					width: 100%;
					display: grid;
					gap: 20px;
					grid-template-columns: repeat(5, 1fr);
					grid-template-columns: repeat(5,minmax(0,1fr));
					.mega__product-item {
						background-color: #fff9d8;
						border-radius: 8px;
						overflow: hidden;
						padding: 14px 0 0;
						height: 208px;
						a {
							display: block;
						}
						.mega__product-title {
							display: block;
							/* Desktop_B2 */
							font-family: "DM Sans";
							font-style: normal;
							font-weight: 600;
							font-size: 14px;
							line-height: 16px;
							text-align: center;
							color: #2a2a2a;
							padding-bottom: 8px;
						}
						.mega__product-img {
							overflow: hidden;
							border-radius: 8px;
							// margin: 0 16px 16px;
							// width: 110px;
							// height: 180px;
							width: 100%;
							height: 100%;
							height: 180px;
							object-fit: cover;
							object-position: center;
							display: block;
						}
					}
				}

				.mega__collection-button {
					// width: calc(100% - 16px - 16px);
					text-align: center;
					margin: 20px auto;
					padding: 16px 32px;
					background: #fad75f;
					border-radius: 24px;
					font-family: DM Sans;
					font-style: normal;
					font-weight: 600;
					font-size: 14px;
					line-height: 18px;
					color: #2a2a2a;
				}
			}
		}
	}
}
