

.pagination {
	padding-top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;

	&__button--prev svg {
	}
	&__button--next svg {
	}
	&__page {
		display: inline-block;
		margin-left: 10px;
		margin-right: 10px;
		// padding: 2px 10px;
		border: 1px solid transparent;
		border-radius: 2px;
		/* Body1 */
		font-family: var(--font-header);
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		/* identical to box height */
		display: flex;
		align-items: center;
		color: var(--color-black2);
		cursor: pointer;
		border-radius: 50%;
		width: 24px;
		height: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover {
			border-color: var(--color-yellow2);
		}
		&--current {
			display: inline-block;
			margin-left: 10px;
			margin-right: 10px;
			// padding: 2px 10px;
			border: 1px solid transparent;
			border-radius: 2px;
			/* Body1 */
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			/* identical to box height */
			display: flex;
			align-items: center;
			color: var(--color-black2);
			cursor: pointer;
			background-color: var(--color-yellow2);
			border-radius: 50%;
			width: 24px;
			height: 24px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&--decorative {
			opacity: 0.4;
			&:hover {
				// border: 1px solid transparent;
				color: initial;
			}
		}
	}
}