.product-card {
	overflow: hidden;
	position: relative;
	.product-card__link {
		display: block;
	}
	.product-card__media {
		position: relative;
		.product-card__image-wrapper {
			width: 100%;
			@media (min-width: 768px) {
				height: 280px;
			}
			picture ,
			img {
				border-radius: 10px;
				@media (min-width: 768px) {
					border-radius: 0;
					border-top-left-radius: 20px;
					border-top-right-radius: 20px;
				}
				position: relative;
				display: inline-block;
				width: 100%;
				height: auto;
				object-position: center;
				object-fit: cover;
				@media (min-width: 768px) {
					height: 100%;
				}
			}
			picture + picture {
				display: none;
			}
		}
	}

	.product-drawer__desc {
		p {
			font-family: "DM Sans";
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 16px;
			color: #2a2a2a;
		}
	}

	.product-card__body {
		z-index: 2;
		display: flex;
		justify-content: space-between;
		gap: 8px;
		flex-direction: column;
		align-items: flex-start;
		padding: 8px 0 16px;
		@media (min-width: 768px) {
			padding: 16px 20px;
			background-color: #ffffff;
			border-bottom-left-radius: 20px;
			border-bottom-right-radius: 20px;
			align-items: center;
			align-items: flex-start;
			flex-direction: row;
		}
		.product-card__title {
			font-family: "DM Sans";
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 16px;
			line-height: normal;
			color: #2a2a2a;
			text-align: left;
			@media (min-width: 768px) {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				text-align: left;
			}
		}
		.product-price {
			min-width: 82px;
			font-family: "DM Sans";
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 16px;
			color: #2a2a2a;
			text-align: left;
			@media (min-width: 768px) {
				text-align: right;
			}
		}
	}

	.product-card__cta {
		z-index: 1;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 19px;
		transform: translateY(-100%);
		margin: 0 12px;
		padding: 8px 32px;
		/* Primary/yellow2 */
		background: #f6ca30;
		border-radius: 24px;
		font-family: "DM Sans";
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 18px;
		color: #2a2a2a;
		visibility: hidden;
		transition: 0.4s all cubic-bezier(0.5, 0, 0, 1);
		will-change: bottom, transform, visibility;
	}
	@media(min-width: 768px) {
		&:hover {
			.product-card__cta {
				transform: translateY(0px);
				visibility: visible;
				bottom: 60px;
				transition: 0.4s all cubic-bezier(0.5, 0, 0, 1);
				will-change: bottom, transform, visibility;
			}
		}
	}
}