<div class="container nav">
  <div class="logo">
    <a href="/">{{ settings.logo_text | default: shop.name }}</a>
  </div>
  <nav class="menu" role="navigation" aria-label="Main navigation">
    {% if settings.main_menu != blank and linklists[settings.main_menu] %}
      {% for link in linklists[settings.main_menu].links %}
        <a href="{{ link.url }}">{{ link.title }}</a>
      {% endfor %}
    {% endif %}
  </nav>


  <div class="menu">
    <a href="/cart"><span data-cart-count aria-label="0 items in cart">({{ cart.item_count }})</span></a>
  </div>
</div>
{% schema %}
{
  "name": "Header",
  "settings": []
}
{% endschema %}
