.bestsellers__container {
	.bestsellers__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 16px;
		margin-bottom: 40px;

		.bestsellers__eyebrow {
			display: inline-block;
			padding: 8px 32px;
			text-align: center;
			background: #fad75f;
			border-radius: 50px;
			font-family: "DM Sans";
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 16px;
			color: #161a1d;
		}

		.bestsellers__title {
			font-family: "Neilvard One";
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 24px;
			text-align: center;
			color: #161a1d;
		}
	}

	.bestsellers__nav {
		display: flex;
		justify-content: flex-end;
		gap: 16px;
		padding-top: 32px;

		.bestsellers__btn {
			width: 40px;
			height: 40px;

			&[disabled] {
				opacity: 0.4;
				pointer-events: none;
			}
		}
	}

	/* position dots up a bit */
	.flickity-page-dots {
		bottom: -54px;
		text-align: left;
		z-index: -1;
		.dot {
			height: 4px;
			width: 14%;
			margin: 0;
			border-radius: 0;
			background-color: #d3d3d3;
			&.is-selected {
				background-color: #f6ca30;
			}
		}
	}


	.bestsellers__list {
		opacity: 0;
		transition: opacity 0.2s ease;

		&.is-initialized {
			opacity: 1;
		}
	}

	.bestsellers__item {
		width: 70%;
		max-width: 360px;
		margin-right: 16px;

		@media (min-width: 480px) {
			width: 50%;
		}
		@media (min-width: 768px) {
			width: 33.333%;
		}
		@media (min-width: 1024px) {
			width: 25%;
		}
	}
}