.cart-page {
    padding-top: 56px;
    padding-bottom: 56px;

    .page-title {
        /* Desktop_H2 */
        font-family: "Neilvard One";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 36px;
        /* identical to box height, or 112% */
        text-align: center;

        /* Neutral/Black2 */
        color: #161a1d;

        padding-bottom: 24px;
        text-align: left;
        @media (min-width: 768px) {
            text-align: center;
        }
    }

    .cart-footer {
        max-width: 408px;
        margin-right: initial;
        margin-left: auto;
        padding-top: 56px;
        @media (min-width: 768px) {
            padding-left: 24px;
            padding-right: 24px;
        }
        .cart-footer-subtotal {
            display: flex;
            gap: 20px;
            padding-bottom: 16px;
            p {
                strong {
                    display: block;

                    /* Body1 */
                    font-family: var(--font-header);
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    /* identical to box height */

                    /* Primary/Red3 */
                    color: var(--color-red3);
                }
                small {
                    display: block;
                    font-family: var(--font-header);
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                    /* identical to box height */

                    /* Primary/Red3 */
                    color: var(--color-red3);
                }
            }
        }
        .cart-footer-checkout {
            display: block;
            padding: 12px 16px;
            /* Primary/Red1 */
            background: var(--color-yellow2);
            border-radius: 6px;
            font-family: var(--font-header);
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            /* identical to box height */
            text-align: center;
            /* Neutral/White1 */
            color: #ffffff;
            margin-bottom: 8px;
        }
        .cart-footer-continue {
            display: block;

            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            /* identical to box height */
            text-align: center;
            text-decoration-line: underline;

            /* Primary/Red3 */
            color: var(--color-red3);
        }
    }

    .cart-header {
        /* Primary/Red1 */
        background: var(--color-yellow2);
        border-radius: 4px;
        padding: 8px 24px;
        display: grid;
        gap: 0 20px;
        grid-template-columns: calc(100% - 104px) 90px;
        @media (min-width: 768px) {
            gap: 0;
            grid-template-columns: 25% 25% 25% 25%;
        }
        .cart-col {
            /* Body2 */
            font-family: var(--font-header);
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            /* identical to box height */

            /* Neutral/White1 */
            color: #ffffff;
            display: none;
            &:first-child {
                text-align: left;
                display: block;
            }
            &:last-child {
                text-align: right;
                display: block;
            }

            @media (min-width: 768px) {
                &:nth-last-child(2) {
                    text-align: center;
                    display: block;
                }
                &:nth-last-child(3) {
                    text-align: center;
                    display: block;
                }
            }
        }
    }

    .cart-item {
        display: grid;
        grid-template-columns: calc(100% - 90px) 80px;
        gap: 0 10px;
        align-items: center;
        padding: 24px 0;
        border-bottom: 1px solid #d3d3d3;
        @media (min-width: 568px) {
            grid-template-columns: calc(100% - 104px) 90px;
        }
        @media (min-width: 768px) {
            gap: 0px;
            grid-template-columns: calc(100% - 25%) 25%;
        }

        .wrapper {
            // background-color: lightblue;
            overflow: hidden;
            @media (min-width: 568px) {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            @media (min-width: 768px) {
                display: grid;
                grid-template-columns: 33.333% 33.333% 33.333%;
                grid-template-columns: 1fr 1fr 1fr;
                align-items: center;
            }
        }
    }

    .product-col {
        // background-color: orange;
        @media (min-width: 568px) {
            flex: 1 0 314px;
            max-width: 314px;
        }
        @media (min-width: 768px) {
            flex: 1 0 auto;
            max-width: 100%;
            max-width: initial;
        }

        .product-info {
            display: flex;
            align-items: center;
            gap: 16px;
            picture {
                flex: 0 0 95px;
                max-width: 95px;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 8px;
                overflow: hidden;
            }
            .product-text {
                flex: 0 0 calc(100% - 95px - 16px);
                max-width: calc(100% - 95px - 16px);

                .product-titleWrapper a {
                    display: block;
                    font-family: var(--font-header);
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    /* identical to box height */

                    /* Primary/Red2 */
                    color: #a5161a;
                }
                .product-titleWrapper small {
                    display: block;
                    font-family: var(--font-header);
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    /* identical to box height */

                    /* Primary/Red2 */
                    color: #a5161a;
                    font-size: 60%;
                    .line-item__option-block {
                        div {
                            display: inline-block;
                            &.line-item__value {
                                padding-left: 4px;
                            }
                        }
                    }
                }
            }

            .remove-btn {
                padding: 0;
                margin: 0;
                /* Body2 */
                font-family: var(--font-header);
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                /* identical to box height */
                color: #9f9f9f;
            }
        }
    }

    .price-col {
        // background-color: blue;
        height: 100%;
        display: none;
        @media (min-width: 768px) {
            display: block;
            flex: 0 0 120px;
            max-width: 120px;
            max-width: initial;
            text-align: center;
        }

        span {
            /* Body1 */
            font-family: var(--font-header);
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            /* identical to box height */
            /* Primary/Red3 */
            color: var(--color-red3);
        }
    }

    .qty-col {
        // background-color: red;
        height: 100%;
        flex: 0 0 100px;
        max-width: 100px;

        @media (min-width: 768px) {
            max-width: initial;
            text-align: center;
        }
        .qty-changer {
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: flex-start;
            width: 100px;
            padding-top: 8px;
            @media (min-width: 568px) {
                padding-top: 0;
            }
            .cart-qty-input {
                /* Frame 28 */
                box-sizing: border-box;
                -moz-appearance: textfield;
                -webkit-appearance: none;
                appearance: none;
                padding: 12px 16px;
                text-align: center;

                width: 100px;
                height: 41px;

                /* Neutral/White3 */
                border: 1px solid #d3d3d3;
                border-radius: 4px;

                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                /* identical to box height */
                text-align: center;

                /* Primary/Red3 */
                color: var(--color-red3);
            }

            .qty-decrease {
                position: absolute;
                left: 0;
                height: 100%;
            }
            .qty-increase {
                position: absolute;
                right: 0;
                height: 100%;
            }
            .qty-disabled {
                opacity: 0.5;
                cursor: none;
            }
        }
    }

    .total-col {
        // background-color: khaki;
        height: 100%;
        text-align: right;
        max-width: 80px;
        @media (min-width: 568px) {
            max-width: 120px;
        }
        @media (min-width: 768px) {
            max-width: initial;
        }
    }
}
