.collection {
	.grid {
		display: grid;
		gap: 20px;
		grid-template-columns: 1fr;
		@media(min-width: 768px) {
			grid-template-columns: 1fr 1fr;
		}
		@media(min-width: 928px) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
	}
	.collection-title {
		display: none;
		/* Desktop_H3 */
		font-family: "Neilvard One";
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 28px;
		/* identical to box height, or 117% */

		/* Neutral/Black2 */
		color: #161a1d;
		text-align: center;
	}
	.collection-nav {
		padding: 40px 0;
		ul {
			display: flex;
			gap: 16px;
			justify-content: center;
			align-items: revert;
		}
		li span ,
		a {
			padding: 16px 32px;
			/* Neutral/White1 */
			background: #ffffff;
			/* Primary/yellow2 */
			border: 1px solid #f6ca30;
			border-radius: 24px;
			font-family: "DM Sans";
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 18px;
			/* identical to box height, or 129% */

			/* Neutral/Black1 */
			color: #2a2a2a;
		}
		li span {
			display: flex;
			align-items: center;
			border: 0;
			background-color: transparent;
		}
	}
	.product-card {
		.product-card__link {
			display: block;
			border-radius: 20px;
			.product-card__media {
				height: 280px;
				overflow: hidden;
				border-radius: 20px 20px 0 0;
				background: #fff9d8;

				.product-card__image-wrapper {
					width: 100%;
					height: 100%;
					picture {
						width: 100%;
						height: 100%;
						display: block;
						img {
							width: 100%;
							height: 100%;
						}
						+ picture {
							display: none;
						}
					}
				}
			}
		}
		.product-card__body {
			padding: 16px 20px;
			/* Neutral/White1 */
			background: #ffffff;
			border-radius: 0 0 20px 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.product-card__title {
				// white-space: nowrap;
				// overflow: hidden;
				// text-overflow: ellipsis;
				flex: 0 0 60%;
				max-width: 60%;
				overflow: hidden;
				padding-bottom: 0;
				margin-bottom: 0;
				font-family: "DM Sans";
				font-style: normal;
				font-weight: 600;
				font-size: 16px;
				line-height: 16px;
				/* identical to box height, or 100% */
				text-align: left;
				/* Neutral/Black1 */
				color: #2a2a2a;
			}
			.product-price {
				flex: 0 0 40%;
				max-width: 40%;
				span {
					font-family: "DM Sans";
					font-style: normal;
					font-weight: 600;
					font-size: 16px;
					line-height: 16px;
					/* identical to box height, or 100% */
					text-align: right;

					/* Neutral/Black1 */
					color: #2a2a2a;
				}
			}
		}
	}

	.product-card__cta {
		display: none;
	}
}