.collection {
	.grid {
		display: grid;
		gap: 20px;
		grid-template-columns: 1fr 1fr;
		@media (min-width: 928px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
		@media (min-width: 1024px) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
	}
	.collection-title {
		display: none;
		/* Desktop_H3 */
		font-family: "Neilvard One";
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 28px;
		/* identical to box height, or 117% */

		/* Neutral/Black2 */
		color: #161a1d;
		text-align: center;
	}
	.collection-image {
		padding-bottom: 40px;
		img {
			width: 100%;
			height: 630px;
			object-fit: cover;
			object-position: center;
			display: block;
			margin: 0 auto;
		}
	}
	.collection-nav {
		padding: 40px 20px;
		@media (min-width: 768px) {
			padding-left: 0;
			padding-right: 0;
		}
		ul {
			display: flex;
			gap: 16px;
			justify-content: center;
			align-items: revert;
			flex-direction: column;
			@media (min-width: 768px) {
				flex-direction: row;
			}
		}
		li span ,
		a {
			padding: 16px 32px;
			/* Neutral/White1 */
			background: #ffffff;
			/* Primary/yellow2 */
			border: 1px solid #f6ca30;
			border-radius: 24px;
			font-family: "DM Sans";
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 18px;
			/* identical to box height, or 129% */
			/* Neutral/Black1 */
			color: #2a2a2a;
			width: 100%;
			text-align: center;
			@media (min-width: 768px) {
				text-align: left;
			}
		}
		li span {
			display: flex;
			align-items: center;
			border: 0;
			background-color: transparent;
			justify-content: center;
		}
	}
}

.product-card {
	.product-card__link {
		display: block;
		border-radius: 20px;
		.product-card__media {
			height: 280px;
			overflow: hidden;
			border-radius: 20px 20px 0 0;
			background: #fff9d8;

			.product-card__image-wrapper {
				width: 100%;
				height: 100%;
				picture {
					width: 100%;
					height: 100%;
					display: block;
					object-fit: cover;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
					+ picture {
						display: none;
					}
				}
			}
		}
	}
	.product-card__body {
		padding: 16px 20px;
		/* Neutral/White1 */
		background: #ffffff;
		border-radius: 0 0 20px 20px;
		display: grid;
		gap: 4px;
		align-items: center;
		justify-content: center;
		@media (min-width: 768px) {
			justify-content: space-between;
			grid-template-columns: 1fr 40%;
		}
		.product-card__title {
			text-overflow: ellipsis;
			text-wrap: nowrap;
			overflow: hidden;
			padding-bottom: 0;
			margin-bottom: 0;
			font-family: "DM Sans";
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 16px;
			/* identical to box height, or 100% */
			/* Neutral/Black1 */
			color: #2a2a2a;
			text-align: center;
			line-height: normal;
			@media (min-width: 768px) {
				text-align: left;
			}
		}
		.product-price {
			text-align: center;
			@media (min-width: 768px) {
				text-align: right;
			}
			span {
				font-family: "DM Sans";
				font-style: normal;
				font-weight: 600;
				font-size: 16px;
				line-height: 16px;
				/* identical to box height, or 100% */
				text-align: right;
				/* Neutral/Black1 */
				color: #2a2a2a;
			}
		}
	}
}

.product-card__cta {
	display: none;
}

.bestsellers__container {
	.asd {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 16px;
		margin-bottom: 40px;
		.bestsellers__eyebrow {
			/* Frame 2 */
			display: inline-block;
			text-align: center;
			padding: 8px 32px;
			/* Primary/Yellow */
			background: #fad75f;
			border-radius: 50px;
			font-family: "DM Sans";
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 16px;
			/* identical to box height, or 114% */

			/* Neutral/Black2 */
			color: #161a1d;
		}
		.bestsellers__title {
			/* South India's Most-Loved Snacks! */

			font-family: "Neilvard One";
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 24px;
			text-align: center;

			/* Neutral/Black2 */
			color: #161a1d;
		}
	}

	.bestsellers__nav {
		display: flex;
		justify-content: flex-end;
		padding-top: 32px;
		gap: 16px;
		.owl-next ,
		.owl-prev {
			width: 40px;
			height: 40px;
		}
	}
}