:root {
  --color-yellow1: #fad75f;
  --color-yellow2: #f6ca30;
  --color-black1: #2a2a2a;
  --color-black2: #161a1d;
  --color-white1: #ffffff;
  --color-white2: #f6f6f6;
  --color-white3: #d3d3d3;
  --font-dm-sans: dm_sans_n4;
  --font-dm-sans-medium: dm_sans_n5;
  --font-dm-sans-bold: dm_sans_n7;
  --font-type-body: instrument_sans_n4;
}

@media screen and (prefers-reduced-motion: reduce), (update: slow) {
  * {
    -webkit-animation-duration: 0s;
    animation-duration: 0s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font: var(--font-heading-1);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

body {
  font: var(--font-heading-1);
  overflow-x: hidden;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main.layout__main-content {
  flex: 1;
}

#layout__main-content-wrapper {
  position: relative;
  z-index: 1;
}

.layout__grid-box {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  @media (min-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (min-width: 1140px) {
    padding-left: 160px;
    padding-right: 160px;
  }
  @media (min-width: 1400px) {
    max-width: 1120px;
  }
  // @media (min-width: 1800px) {
  // max-width: 1120px;
  // }
}

.layout__grid-fluid {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.padding--left-0 {
  padding-left: 0;
}
.padding--right-0 {
  padding-right: 0;
}
b,
strong {
  font-weight: 500;
}
em,
i {
  font-style: italic;
}
a {
  color: inherit;
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

.heading--1,
.shopify-policy__title {
  font-family: var(--font-heading-1);
  font-style: normal;
  font-size: 40px;
  line-height: 42px;
  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 40px;
  }
}

.heading--2 {
  font-family: var(--font-heading-2);
  font-style: normal;
  font-size: 32px;
  line-height: 36px;
}

.heading--3 {
  font-family: var(--font-heading-3);
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
}

.heading--4 {
  font-family: var(--font-heading-4);
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
}

.heading--5 {
  font-family: var(--font-heading-5);
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
}

.heading--6 {
  font-family: var(--font-heading-6);
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
}

.text--body-1 {
  font-family: var(--font-dm-sans);
  font-style: normal;
  font-size: 16px;
  line-height: normal;
}

.text--body-2,
p {
  font-family: var(--font-dm-sans);
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
}

.pagination {
  padding-top: 56px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__button--prev svg {
    transform: rotate(180deg);
  }
  &__button--next svg {
    transform: rotate(-180deg);
  }
  &__page {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding: 2px 8px;
    border: 1px solid transparent;
    border-radius: 2px;
    /* Body1 */
    font-family: var(--font-dm-sans);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    display: flex;
    align-items: center;
    cursor: pointer;

    &--current {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      padding: 2px 8px;
      border: 1px solid transparent;
      border-radius: 2px;
      /* Body1 */
      font-family: var(--font-dm-sans);
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      /* identical to box height */
      display: flex;
      align-items: center;
      cursor: pointer;
      color: #ffffff;
    }
    &--decorative {
      opacity: 0.4;
      &:hover {
        color: initial;
      }
    }
  }
}

.skip-to-content {
  position: absolute;
  left: -999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip-to-content:focus {
  position: absolute;
  left: 10px;
  top: 10px;
  width: auto;
  height: auto;
  padding: 10px;
  background: #000;
  color: #fff;
  z-index: 1000;
}
