.site-header {
    overflow: hidden;
    padding: 24px 20px;
    background-color: transparent;
    .site-header__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 8px 20px;
        border-radius: 6px;
        background-color: var(--Netrual-White1, #ffffff);
        box-shadow: 0 0.0625rem 0.25rem #0003;
        .site-logo {
            position: absolute;
            top: -20px;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            display: inline-block;
            width: 146px;
            height: auto;
            margin: 0 auto;
        }
        .site-nav {
            &.site-nav--left {
                button {
                    padding: 12px 16px;
                    /* Neutral/White2 */
                    background: #f6f6f6;
                    border-radius: 25px;
                    span {
                        font-family: var(--font-header);
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 16px;
                        color: #2a2a2a;
                        display: inline-block;
                        margin-right: 8px;
                    }
                }
                .site-link {
                    padding: 12px 24px;
                    border-radius: 4px;
                    font-family: var(--font-header);
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 16px;
                    color: #2a2a2a;
                }
            }
            &.site-nav--right {
                display: flex;
                align-items: center;
                gap: 20px;
                .icon-link--bag {
                    display: flex;
                    align-items: center;
                    padding: 12px 16px;
                    /* Neutral/White2 */
                    background: #f6f6f6;
                    border-radius: 25px;

                    span {
                        display: inline-block;
                        padding-left: 8px;
                        font-family: var(--font-dm-sans);
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 16px;
                        /* identical to box height, or 100% */
                        /* Neutral/Black1 */
                        color: #2a2a2a;
                    }
                }
            }
        }
    }
}

header {
    position: sticky;
    top: 0;
    z-index: 50;
    will-change: transform;
    &.scrolldown {
        transform: translateY(-100%);
        transition: transform 200ms ease;
    }
    &.scrollup {
        transform: translateY(0);
        transition: transform 200ms ease;
    }
}
