header {
	position: sticky;
	position: fixed;
	z-index: 50;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	will-change: transform;
	&.scrolldown {
		transition: transform 200ms ease;
		transform: translateY(-100%);
	}
	&.scrollup {
		transition: transform 200ms ease;
		transform: translateY(0);
	}

	.site-header {
		overflow: hidden;
		padding: 24px 20px;
		background-color: transparent;
		.site-header__inner {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 8px 20px;
			border-radius: 6px;
			background-color: var(--Netrual-White1, #ffffff);
			box-shadow: 0 0.0625rem 0.25rem #0003;
			.menunoscroll & {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				box-shadow: none;
			}
			.site-logo {
				position: absolute;
				top: -20px;
				right: 0;
				bottom: 0;
				left: 0;
				display: inline-block;
				width: 146px;
				height: auto;
				margin: 0 auto;
				text-align: center;
			}
			.site-nav {
				&.site-nav--left {
					button {
						padding: 12px 16px;
						border-radius: 25px;
						/* Neutral/White2 */
						background: #f6f6f6;
						span {
							font: var(--font-600);
							font-size: 14px;
							line-height: 16px;
							display: inline-block;
							margin-right: 8px;
							color: #2a2a2a;
						}
					}
					.site-link {
						font: var(--font-600);
						font-size: 14px;
						font-style: normal;
						line-height: 16px;
						padding: 12px 24px;
						color: #2a2a2a;
						border-radius: 4px;
					}
				}
				&.site-nav--right {
					display: flex;
					align-items: center;
					gap: 20px;
					.icon-link--bag {
						display: flex;
						align-items: center;
						padding: 12px 16px;
						border-radius: 25px;
						/* Neutral/White2 */
						background: #f6f6f6;

						span {
							font: var(--font-heading-1);
							font: var(--font-500);
							font-size: 16px;
							font-style: normal;
							line-height: 16px;
							display: inline-block;
							padding-left: 8px;
							/* identical to box height, or 100% */
							/* Neutral/Black1 */

							color: #2a2a2a;
						}
					}
				}
			}
		}
	}

	.site-search {
		overflow: hidden;
		padding: 24px 20px;
		background-color: transparent;
		form {
			input {
				font: var(--font-400);
				font-size: 12px;
				font-style: normal;
				line-height: 15px;
				width: calc(100% - 46px);
				min-width: 690px;
				margin: 0 auto;
				padding: 12px 32px 12px 12px;
				border: 1px solid #d3d3d3;
				border-radius: 6px;
			}
		}
	}
}

.mega {
	height: calc(100vh - 24px - 62px - 24px);
	display: flex;
	gap: 0;
	.mega__body {
		background: var(--color-white1);
		padding: 24px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		max-width: 320px;
		flex: 0 0 320px;

		.mega__list {
			li {
				a {
					display: flex;
					align-items: center;
					position: relative;
					font-family: "DM Sans";
					font-style: normal;
					font-weight: 600;
					font-size: 16px;
					line-height: 24px;
					/* identical to box height, or 150% */
					/* Neutral/Black1 */
					color: #2a2a2a;
					margin-bottom: 16px;
					position: relative;
					span {
						flex: 1 0 auto;
					}
					&:after {
						content: "";
						display: block;
						width: 24px;
						height: 24px;
						background-repeat: no-repeat;
						background-image: url("data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"20\" height=\"20\" fill=\"none\" viewBox=\"0 0 20 20\"><path stroke=\"%232A2A2A\" stroke-linecap=\"round\" stroke-width=\"1.5\" d=\"m8 5 5.284 4.624a.5.5 0 0 1 0 .752L8 15\"/></svg>");
					}
				}
			}
		}
		.mega__cta {
			width: 100%;
			margin-top: 80px;
			text-align: center;
			padding: 8px 32px;

			/* Primary/Yellow */
			background: #fad75f;
			border-radius: 24px;
			font-family: "DM Sans";
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 18px;
			/* identical to box height, or 129% */

			/* Neutral/Black1 */
			color: #2a2a2a;
		}
	}


	.mega__products[hidden] {
		display: none;
	}
	.mega__products {
		overflow-y: scroll;
		flex: 0 0 calc(100% - 320px);
		max-width: calc(100% - 320px);
		background: var(--color-white1);
		// border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		padding: 24px;
	}
	.mega__grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;
	}
	.mega__card {
		text-decoration: none;
		display: block;
		border-radius: 8px;
		overflow: hidden;
	}
	.mega__card img {
		width: 100%;
		height: auto;
		display: block;
	}

	.mega__card-title {
		padding-top: 14px;
		background: #fff9d8;
		padding-bottom: 8px;
		text-align: center;
		/* Desktop_B2 */
		font-family: "DM Sans";
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 16px;
		/* identical to box height, or 114% */

		/* Neutral/Black1 */
		color: #2a2a2a;
	}
	@media (max-width: 900px) {
		.mega__grid {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

/* Skeleton loading */
.skeleton {
	pointer-events: none;
}

.skeleton-img ,
.skeleton-text {
	background: linear-gradient(90deg, #eeeeee 25%, #f5f5f5 37%, #eeeeee 63%);
	background-size: 400% 100%;
	animation: shimmer 1.4s ease infinite;
	border-radius: 4px;
}

/* Image placeholder height */
.skeleton-img {
	width: 100%;
	height: 206px;
	margin-bottom: 12px;
}

/* Info section height (title + price area) */
.skeleton-info {
	height: 166px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

/* Fake title and price bars */
.skeleton-text {
	height: 14px;
	margin-bottom: 8px;
}
.skeleton-text.short {
	width: 60%;
}

@keyframes shimmer {
	0% {
		background-position: -400px 0;
	}
	100% {
		background-position: 400px 0;
	}
}

.backdrop {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	z-index: -1;
	left: 0;
	right: 0;
}

.mega:has(.mega__products:not([hidden])) .mega__body {
	border-bottom-right-radius: 0;
}