@use "reset";
@use "common";
@use "announcement";
@use "header";
@use "drawer-cart";
@use "home-slider";
@use "drawer-product";
@use "cart";
@use "footer";
@use "product-detail";
@use "collection";
@use "pagination";
@use "homepage";
@use "account";
@use "predictive-search";
@use "policy";


.customers-addresses ,
.customers-account {
	padding-top: 120px;
	max-width: 1200px;
	margin: 0 auto;
}